# python venv
venv/
__pychache__/
*.pyc
*.pyo
.DS_store

# IDE files
.vscode/
.idea/

# datasets
/datasets/apachejit/*
/datasets/mozilla_perf/*
/datasets/jit_defects4j/*

# LLMs
LLMs/**/*
!LLMs/**/

# other
/secrets/*
!secrets/.env.example
/slurm_jobs
/llama/training/*
/llama/inference/*
/llama/adapter_models/*
/data_extraction/github_api/github_repos/*
/analysis/output/*
/docker_jobs
.nfs*

# cache
.cache
.nv
.triton
