# python venv
venv/
__pychache__/
*.pyc
*.pyo
.DS_store

# IDE files
.vscode/
.idea/

# datasets
/datasets/jit_dp/*
/datasets/mozilla_perf/*

# LLMs
LLMs/**/*
!LLMs/**/

# other
/secrets/*
!secrets/.env.example
/slurm_jobs
/llama/training/*
/data_extraction/github_api/github_repos/*
/analysis/output/*