# python venv
venv/
__pychache__/
*.pyc
*.pyo
.DS_store

# IDE files
.vscode/
.idea/

# datasets
/datasets/*

# LLMs
LLMs/**/*
!LLMs/**/

# other
/secrets/*
!secrets/.env.example
/slurm_jobs
/llama/training/*
/llama/inference/*
/llama/adapter_models/*
/data_extraction/github_api/github_repos/*
/analysis/output/*
/docker_jobs
.nfs*
/llama/configs/train_config_local.yaml
/analysis/results/
**/autoland/


# cache
.cache
.nv
.triton
