absl-py
accelerate
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
amqp
annotated-types
antlr4-python3-runtime
appdirs
asttokens
async-timeout
asyncssh
atpublic
attrs
beautifulsoup4
billiard
bitsandbytes
bleach
build
cachetools
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
comm
configobj
contourpy
cryptography
cycler
datasets
debugpy
decorator
deepspeed
defusedxml
Deprecated
dictdiffer
diffusers
dill
diskcache
distro
docstring_parser
dpath
dulwich
dvc
dvc-data
dvc-gdrive
dvc-http
dvc-objects
dvc-render
dvc-studio-client
dvc-task
einops
entrypoints
eval_type_backport
evaluate
exceptiongroup
executing
fastjsonschema
filelock
flash_attn
flatten-dict
flufl.lock
fonttools
frozenlist
fsspec
funcy
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
grandalf
grpcio
gto
hf-xet
hf_transfer
hjson
httplib2
huggingface-hub
hydra-core
idna
imbalanced-learn
imblearn
importlib_metadata
importlib_resources
ipykernel
ipython
ipython_pygments_lexers
iterative-telemetry
javalang
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kiwisolver
kombu
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
msgpack
multidict
multiprocess
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
nvidia-pyindex
oauth2client
omegaconf
orjson
packaging
pandas
pandocfilters
parso
pathspec
peft
pexpect
phabricator @ git+https://github.com/disqus/python-phabricator.git@66190f9065dc68f3bba35c5fcbd0b6baf567b95d
pillow
platformdirs
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
pure_eval
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydot
PyDrive2
pygit2
Pygments
pygtrie
PyJWT
PyNaCl
pyOpenSSL
pyparsing
pyproject_hooks
python-dateutil
python-dotenv
pytz
PyYAML
pyzmq
referencing
regex
requests
rich
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
safetensors
scikit-learn
scipy
scmrepo
seaborn
semver
sentencepiece
shellingham
shortuuid
shtab
six
sklearn-compat
smmap
soupsieve
sqltrie
stack-data
sympy
tabulate
tensorboard
tensorboard-data-server
threadpoolctl
tinycss2
tokenizers
tomli
tomlkit
torch
torchvision
tornado
tqdm
traitlets
transformers
tree-sitter
treeherder-client
triton
trl
typeguard
typer
typing-inspection
typing_extensions
tyro
tzdata
unidiff
uritemplate
urllib3
vine
voluptuous
wcwidth
webencodings
Werkzeug
wrapt
xformers
xxhash
yarl
zc.lockfile
zipp
