compute_environment: LOCAL_MACHINE
debug: true
distributed_type: DEEPSPEED
mixed_precision: bf16
downcast_bf16: 'no'
num_processes: 2
num_machines: 1
machine_rank: 0
rdzv_backend: static
same_network: true
use_cpu: false
main_training_function: main
deepspeed_config:
  deepspeed_multinode_launcher: standard
  offload_optimizer_device: none
  offload_param_device: none
  zero3_init_flag: true
  zero3_save_16bit_model: true
  zero_stage: 3
